html,
body {
  margin: 0;
  padding: 0;
}
.warp {
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 100;
}
.warp .title {
  width: 100%;
  color: #fff;
  background-color: #e02222;
  text-align: center;
  height: 2.75rem;
  border-radius: 0.3125rem;
}
.warp .title .icon-saoyisao {
  padding: 0.3125rem 0.3125rem;
  float: left;
  font-style: normal;
  font-size: 1.625rem;
  color: #fff;
}
.warp .title .search-box {
  width: 70%;
  position: relative;
  float: left;
  border-radius: 0.1875rem;
  height: 1.9375rem;
  background: #f4f7fe;
  margin: 0.375rem 0.625rem;
}
.warp .title .search-box input {
  outline: none;
  width: 80%;
  border: none;
  background: none;
  text-align: left;
  height: 1.9375rem;
}
.warp .title .search-box .icon-sousuo {
  position: absolute;
  font-style: normal;
  float: right;
  color: #ccc;
  font-size: 1.375rem;
}
.categoryBody {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 3rem;
}
.categoryBody .categoryTab {
  width: 25%;
  background-color: #f8f8f8;
  height: 100%;
  padding-bottom: 3.9rem;
}
.categoryBody .categoryTab .swiper-container {
  width: 100%;
  height: 100%;
}
.categoryBody .categoryTab .swiper-container .swiper-slide {
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.categoryBody .categoryTab .swiper-container .swiper-slide .btn-group-vertical {
  margin: 0 auto;
  width: 98%;
  background: #F9F9F9;
  border-radius: 4% ;
}
.categoryBody .categoryTab .swiper-container .swiper-slide .btn-group-vertical .btn {
  padding-top: 0.5rem;
}
.categoryBody .categoryDetails {
  float: left;
  width: 74%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 4rem;
  background-color: #f9f9f9;
}
.categoryBody .categoryDetails .catetitle {
  width: 100%;
  height: 5%;
}
.categoryBody .categoryDetails .catetitle h5 {
  font-size: 0.875rem;
  float: left;
  font-weight: 300;
}
.categoryBody .categoryDetails .catetitle .icon-xiangyoujiantou {
  text-decoration: none;
  float: right;
  color: #ccc;
  height: 100%;
  font-size: 0.75rem;
}
.categoryBody .categoryDetails .catetitle .icon-xiangyoujiantou p {
  text-align: center;
  font-size: 0.75rem;
  float: left;
}
.categoryBody .categoryDetails .catetitle .icon-xiangyoujiantou img {
  height: 60%;
  float: left;
}
.categoryBody .categoryDetails #swiper1 {
  width: 100%;
  height: 90%;
}
.categoryBody .categoryDetails #swiper1 .swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.categoryBody .categoryDetails #swiper1 .swiper-slide .cateclass {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 0.375rem;
}
.categoryBody .categoryDetails #swiper1 .swiper-slide .cateclass .cate-pic {
  text-decoration: none;
  width: 100%;
  display: grid;
}
.categoryBody .categoryDetails #swiper1 .swiper-slide .cateclass .cate-pic img {
  width: 80%;
}
.categoryBody .categoryDetails #swiper1 .swiper-slide .cateclass .cate-pic p {
  text-align: center;
  font-size: 0.75rem;
  color: #3b3a3a;
}
.footer-nav {
  border-top: 0.0625rem solid #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 49;
  width: 100%;
  background-color: #f9f9f9;
}
.footer-nav .footer-nav-item {
  width: 25%;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #979797;
  text-decoration: none;
}
.footer-nav .footer-nav-item .icon-item {
  color: #979797;
}
.footer-nav .footer-nav-item i {
  float: left;
  font-style: normal;
  font-size: 1.625rem;
}
